<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <hr>
        <h1>Analise da página via URL:</h1>
        <hr>
            <a href="{{ url_for('index') }}">Index</a>
            <a href="{{ url_for('classificados') }}">Classifcados</a>
        <hr>
            <p>Dominio: {{ dominio }}</p>
            <p>URL: {{ url }}</p>
        <hr>
            <h1>tags listadas com analise da página:</h1>
        <br>
        <table>
            <tr>
                <td>Tags</td>
                <td>Qtd</td>
            </tr>
            {% for i in tags %}
            <tr>
                <td>{{ i[0] }}</td>            
                <td>{{ i[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <h1>Palavras listadas com a analise da página</h1>
        <hr>
        <table>
            <tr>
                <td>Palavras</td>
                <td>Qtd</td>
            </tr>
            {% for i in palavras %}
            <tr>
                <td>{{ i[0] }}</td>            
                <td>{{ i[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>