<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <hr>
        <h1>Páginas já atualizadas</h1>
        <hr>
            <a href="{{ url_for('index') }}">Index</a>
            <a href="{{ url_for('destruir') }}">Destruir banco</a>
        <hr>
        <table>
            <tr>
                <td>id</td>
                <td>Dominio</td>
                <td>url</td>
                <td>Detalhes</td>
            </tr>
            {% for i in linhas %}
            <tr>
                <td>{{ i[0] }}</td>            
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>
                    <form action="{{ url_for('detalhes') }}" method="GET">
                        <input type="hidden" name="t" value="{{ i[0] }}">
                        <button type="submit">Detalhes</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr>
    </body>
</html>