<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <hr>
        <h1>Detalhes do dominio</h1>
        <hr>
            <a href="{{ url_for('classificados') }}">Classifcados</a>
            <a href="{{ url_for('index') }}">Index</a>
        <hr>
        {% for i in linhas %}

        <p>Id_pagina: {{ i[0] }}</p>
        <br>
        <p>Id_Ext_Dominio: {{ i[1] }}</p>
        <br>
        <p>Url_pagina: {{ i[2] }}</p>
        <br>
        <p>Titulo_pagina: {{ i[3] }}</p>
        <br>
        <p>Frases: {{ i[4] }}</p>
        <br>
        <p>Palavras: {{ i[5] }}</p>
        <br>
        <p>Tags: {{ i[6] }}</p>
        <br>
        <p>Imagens_Nome: {{ i[7] }}</p>
        <br>
        <p>Videos_Nome: {{ i[8] }}</p>
        <br>
        <p>Audios_Nome: {{ i[9] }}</p>
        <br>
        <p>Todos_links: {{ i[10] }}</p>
        <br>
        <p>qtd_linhas_Pagina: {{ i[11] }}</p>
        <br>
        <form action="{{ url_for('deletar') }}" method="POST">
            <input type="hidden" name="id" id="id" value="{{ i[0] }}">
            <button type="submit">Deletar</button>
        </form>
        {% endfor %}
        <hr>
    </body>
</html>