<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index - Página de entrada de URL</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css"> 
    </head>
    <body>
        <hr>
        <h1>Bem vindo - Analisador de página simples</h1>
        <hr>
            <a href="{{ url_for('classificados') }}">Classifcados</a>
        <hr>
            <form action="{{ url_for('analisar') }}" method="POST">
            <p>Analisar página com a base já existente</p>
            <input type="text" name="url" id="url" placeholder="URL..." required>
            <button type="submit">Analisar</button> 
        </form>
        <hr>
        <table class="table">
            <tr>
                <td>Dominio</td>
                <td>Qtd</td>
            </tr>
            {% for i in dominios %}
            <tr>
                <td>{{ i[0] }}</td>            
                <td>{{ i[1] }}</td>          
            </tr>
            {% endfor %}
        </table>
    </body>
</html>