<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Index - Página de entrada de URL</title>
        <!--CSS-->
        {% for i in css %}
            <link rel="stylesheet" href="{{ i }}">
        {% endfor %}
        <!--JS-->
        {% for i in js %}
            <script src="{{ i }}"></script> 
        {% endfor %}
    </head>
    <body>

        <!--Menu-->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="./">Classificador de página Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% for i in links_menu %}
                    <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for(i) }}">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>
                    {% endfor %}
                    <li class="nav-item active">
                        <button type="button" class="nav-link btn-transparente" data-toggle="modal" data-target="#ajuda_pagina_simples">Ajuda</button>
                  </li>
                </ul>
            </div>
        </nav>

                      <!--Ajuda-->
                      <div class="modal fade bd-example-modal-xl" id="ajuda_pagina_simples" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Ajuda:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Trabalho de TCC - Objetivos:</label>                                
                                        <li><label for="recipient-name" class="col-form-label">Extração de página única HTML/DOM</label></li>
                                        <li><label for="recipient-name" class="col-form-label">Classificação de página WEB em modelo supervisionado</label></li>
                                        <li><label for="recipient-name" class="col-form-label">Uso de modelo supervisionado para a comparação com novas entradas</label></li>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>

        <!--Corpo da página-->
        <div class="container-pagina">
            <h1 class="display-4">Classificar páginas com base nos modelos</h1>


            <div class="jumbotron">
                <div id="modelos-listados">
                {% for i in linhas %}
                    <p class="badge badge-primary text-wrap sumir-transparente-jump" name="id{{ i[0] }}" id="mostrar-id{{ i[0] }}">{{ i[0] }} - {{ i[1] }}</p>
                {% endfor %}
                </div>
                <hr>
                <form action="{{ url_for('processamento_modelos') }}" method="POST">
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            <input type="text" class="form-control" name="url" id="url" placeholder="Nome do modelo...">
                            <input type="hidden" name="modelos" id="modelos" value="-1">
                        </div>
                        <div class="col-sm-6 my-1">
                            <input type="text" class="form-control" name="saida" id="saida" placeholder="Estado do site..." readonly>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1 text-al text-right">   
                        </div>
                        <div class="col-sm-6 my-1 text-al text-right">   
                            <button type="button" class="btn btn-success" onclick="confirmar()">Checar</button>
                            <button type="button" class="btn btn-danger" onclick="resetar_selecao()">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Processar</button>
                        </div>
                    </div>
                </form>
            </div>

            <hr>

            <h1 class="display-4">Selecionar modelos abaixo</h1>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Modelos</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Check</th>  
                </tr>
              </thead>
                <tbody>
                {% for i in linhas %}
                    <tr>
                        <td>{{ i[0] }}</td>            
                        <td scope="row">{{ i[1] }}</td>          
                        <td scope="row">{{ i[2] }}</td>   
                        <td>
                            <input type="checkbox" class="mybuttons" id="id{{ i[0] }}" name="id{{ i[0] }}" value="{{ i[0] }}">
                        </td>      
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
        
        <footer class="bg-dark navbar-brand footer">
            <div class="container">
                <p>{{ versao }}</p>
            </div>
        </footer>

    </body>
</html>