<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{ titulo }}</title>
        <!--Icone-->
        <link rel="shortcut icon" href="{{ icone }}" type="image/x-icon">
        <!--CSS-->
        {% for i in css %}
            <link rel="stylesheet" href="{{ i }}">
        {% endfor %}
        <!--JS-->
        {% for i in js %}
            <script src="{{ i }}"></script> 
        {% endfor %}
    </head>
    <body>

        <!--Menu-->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="./">Classificador de página Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        {% for i in links_menu %}
                            <a class="nav-link" href="{{ url_for(i) }}">{{ i }}<span class="sr-only">(current)</span></a>
                        {% endfor %}
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="nav-link btn-transparente" data-toggle="modal" data-target="#ajuda_pagina_simples">Ajuda</button>
                  </li>
                </ul>
            </div>
        </nav>

                      <!--Ajuda-->
                      <div class="modal fade bd-example-modal-xl" id="ajuda_pagina_simples" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Ajuda:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Trabalho de TCC - Objetivos:</label>                                
                                        <li><label for="recipient-name" class="col-form-label">Extração de página única HTML/DOM</label></li>
                                        <li><label for="recipient-name" class="col-form-label">Classificação de página WEB utilizando várias técnicas</label></li>
                                        <li><label for="recipient-name" class="col-form-label">Emprego de I.A e demais métodos para aplicar uma classificação</label></li>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>

        <div class="container-pagina">
            <h1 class="display-4">Detalhes da página</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="ajuste_coluna ajuste_texto_coluna">Tipo</th>
                        <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in pagina_geral %}
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">ID da página no banco:</td>            
                        <td scope="row">{{ i[0] }}</td>  
                    </tr>
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">URL da página:</td>    
                        <td>{{ i[1] }}</td>          
                    </tr>
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">Endereço da página:</td>    
                        <td>{{ i[2] }}</td>          
                    </tr>
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">Endereço IP do provedor:</td>    
                        <td>{{ i[3] }}</td>          
                    </tr>
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">Título página:</td>    
                        <td>{{ i[4] }}</td>          
                    </tr>
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">Quatidade de linhas:</td>    
                        <td>{{ i[5] }}</td>          
                    </tr>   
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">Idioma da página:</td>    
                        <td>{{ i[6] }}</td>          
                    </tr>
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">Data de acesso:</td>    
                        <td>{{ data }}</td>          
                    </tr>
                    <tr>
                        <td scope="row" class="ajuste_texto_coluna">Função:</td>    
                        <td>
                            <form action="{{ url_for('deletar') }}" method="POST">
                                <input type="hidden" name="id" id="id" value="{{ i[0] }}">
                                <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Frases:</td>            
                    <td scope="row">
                        {% for i in frases %}
                            <p class="badge badge-primary text-wrap">{{ i }}</p>       
                        {% endfor %}
                    </td>  
                </tr>
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Palavras:</td>            
                    <td scope="row">
                        {% for i in palavras %}
                            <p class="badge badge-primary text-wrap">{{ i[0] }} - {{ i[1] }}</p>       
                        {% endfor %}
                    </td>  
                </tr>
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Tags:</td>            
                    <td scope="row">
                        {% for i in tags %}
                            <p class="badge badge-primary text-wrap">{{ i[0] }} - {{ i[1] }}</p>       
                        {% endfor %}
                    </td>  
                </tr>
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Links:</td>            
                    <td scope="row">
                        {% for i in links %}
                            <p class="badge badge-primary text-wrap">{{ i[0] }} - {{ i[1] }}</p>       
                        {% endfor %}
                    </td>  
                </tr>
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Images:</td>            
                    <td scope="row">
                        {% for i in imagens %}
                            <p class="badge badge-primary text-wrap">{{ i[0] }} - {{ i[1] }}</p>       
                        {% endfor %}
                    </td>  
                </tr>
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Videos:</td>            
                    <td scope="row">
                        {% for i in videos %}
                            <p class="badge badge-primary text-wrap">{{ i[0] }} - {{ i[1] }}</p>       
                        {% endfor %}
                    </td>  
                </tr>
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Audio:</td>            
                    <td scope="row">
                        {% for i in audio %}
                            <p class="badge badge-primary text-wrap">{{ i[0] }} - {{ i[1] }}</p>       
                        {% endfor %}
                    </td>  
                </tr>
                <tr>
                    <td scope="row" class="ajuste_texto_coluna">Código da página:</td>            
                    <td scope="row">
                        <p class="badge badge-primary text-wrap">{{ codigo }}</p>       
                    </td>  
                </tr>
                
                </tbody>
            </table>
        </div>

        <footer class="bg-dark navbar-brand footer">
            <div class="container">
                <p>{{ versao }}</p>
            </div>
        </footer>

    </body>
</html>