<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{ titulo }}</title>
        <!--Icone-->
        <link rel="shortcut icon" href="{{ icone }}" type="image/x-icon">
        <!--CSS-->
        {% for i in css %}
            <link rel="stylesheet" href="{{ i }}">
        {% endfor %}
        <!--JS-->
        {% for i in js %}
            <script src="{{ i }}"></script> 
        {% endfor %}
    </head>
    <body>

        <!--Menu-->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="./">Classificador de página Web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        {% for i in links_menu %}
                            <a class="nav-link" href="{{ url_for(i) }}">{{ i }}<span class="sr-only">(current)</span></a>
                        {% endfor %}
                    </li>
                    <li class="nav-item active">
                        <button type="button" class="nav-link btn-transparente" data-toggle="modal" data-target="#ajuda_pagina_simples">Ajuda</button>
                  </li>
                </ul>
            </div>
        </nav>

                      <!--Ajuda-->
                      <div class="modal fade bd-example-modal-xl" id="ajuda_pagina_simples" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Ajuda:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Trabalho de TCC - Objetivos:</label>                                
                                        <li><label for="recipient-name" class="col-form-label">Extração de página única HTML/DOM</label></li>
                                        <li><label for="recipient-name" class="col-form-label">Classificação de página WEB utilizando várias técnicas</label></li>
                                        <li><label for="recipient-name" class="col-form-label">Emprego de I.A e demais métodos para aplicar uma classificação</label></li>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>

        <!--Corpo da página-->
        <div class="container-pagina">
            <h1 class="display-4">Ultimas páginas acessadas - Extraidas</h1>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Dóminio</th>
                    <th scope="col">URL</th>
                    <th scope="col">Detalhes</th>
                    <th scope="col">Deletar</th>
                </tr>
              </thead>
                <tbody>
                {% for i in linhas %}
                    <tr>
                        <td scope="row">{{ i[0] }}</td>            
                        <td>{{ i[1] }}</td>          
                        <td>{{ i[2][:50] }}</td>  
                        <td>
                            <form action="{{ url_for('detalhes_pagina') }}" method="GET">
                                <input type="hidden" name="id_pagina" value="{{ i[0] }}">
                                <button type="submit" class="btn btn-warning">Detalhes</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('deletar') }}" method="POST">
                                <input type="hidden" name="id" id="id" value="{{ i[0] }}">
                                <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>

        <footer class="bg-dark navbar-brand footer">
            <div class="container">
                <p>{{ versao }}</p>
            </div>
        </footer>

    </body>
</html>