/* Ajuste TCC */
/*Fixando o navbar no local e aumentando sua proporcao*/
.navbar {
	position: inherit !important;
	width: 100%;
}
/* Container da pagina */
.container-pagina {
	margin: auto;
	margin-top: 4% !important;
	margin-bottom: 2% !important;
	margin-left: 2% !important;
	margin-right: 2% !important;
}
/* Botao transparente*/
.btn-transparente {
	background: transparent !important;
	border: transparent !important;
	padding: 0px !important;
	padding: 0.5rem 0rem 0.5rem 0rem !important;
}
/* sumir botao no grupo dos classificados*/
.sumir-transparente-jump {
	display: none;
}
/* Footer das páginas*/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
footer .container {
	margin: 0px !important;
}
.footer p {
	margin: 0px !important;
	font-size: 14px;
	color: white;
}